.container {
	background-color: #0b0b0b;
	display: flex;
	align-items: center;
	border-radius: 12px;
	border: 1px solid #b4b4b4;

	box-shadow: 0 0 12px rgba(255, 255, 255, 0.05);
}

.image,
.info {
	flex: 1;
	padding: 12px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.image img {
	border: 2px solid #929292;
	border-radius: 12px;
}

.info h2 {
	font-size: 3rem;
	color: #4ea3ff;
}

.info span {
	color: #ffe81f;
}

.info p {
	font-size: 2rem;
}
