.container {
	display: grid;
	flex: 1;
	grid-template-columns: repeat(3, 1fr);

	gap: 24px;

	padding: 2rem;
}

.selectContainer {
	display: flex;
	gap: 8px;
	padding: 2rem;
}

.select {
	background-color: transparent;
	color: #fff;
	padding: 16px;
	border-radius: 12px;
	border: 1px solid #868686;
	font-weight: 700;
}

select:focus {
	border-color: #ffe81f;
	box-shadow:
		0 0 8px rgba(255, 232, 31, 0.25),
		0 0 16px rgba(255, 232, 31, 0.12);
}
